# From Previous Lesson

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import math
import warnings
warnings.filterwarnings('ignore')
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('regression_data___.csv')
data.head()

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  gender  TARGET_D
0  15.500000  7.760467        17.343389         4.181353    Male      21.0
1   3.080000  6.208590        16.230984         4.150313    Male       3.0
2   7.500000  7.113956        18.047227         4.205057  Female      20.0
3   6.700000  5.783825        11.737110         4.055333    Male       5.0
4   8.785714  6.643790        12.494862         4.088969  Female      10.0

In [4]:
Y = data['TARGET_D']
data = data.drop(['TARGET_D'], axis=1)

In [5]:
data.head()

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  gender
0  15.500000  7.760467        17.343389         4.181353    Male
1   3.080000  6.208590        16.230984         4.150313    Male
2   7.500000  7.113956        18.047227         4.205057  Female
3   6.700000  5.783825        11.737110         4.055333    Male
4   8.785714  6.643790        12.494862         4.088969  Female

In [6]:
X_num = data.select_dtypes(include = np.number)
X_cat = data.select_dtypes(include = np.object)

In [7]:
X_num.head()

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed
0  15.500000  7.760467        17.343389         4.181353
1   3.080000  6.208590        16.230984         4.150313
2   7.500000  7.113956        18.047227         4.205057
3   6.700000  5.783825        11.737110         4.055333
4   8.785714  6.643790        12.494862         4.088969

In [8]:
X_cat.head()

   gender
0    Male
1    Male
2  Female
3    Male
4  Female

In [9]:
Y.head()

0    21.0
1     3.0
2    20.0
3     5.0
4    10.0
Name: TARGET_D, dtype: float64

In [10]:
# Standardizing data

In [11]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(X_num)
x_normalized = transformer.transform(X_num)
print(type(x_normalized.shape))
#pd.DataFrame(x_normalized)

<class 'tuple'>

In [12]:
from sklearn.preprocessing import StandardScaler
transformer = StandardScaler().fit(X_num)
x_standardized = transformer.transform(X_num)
print(x_standardized.shape)
# pd.DataFrame(x_standardized)

(4670, 4)

In [13]:
pd.DataFrame(x_standardized)

             0         1         2         3
0     0.375828  1.557442  0.744945  0.060323
1    -0.854260 -0.831912  0.248137 -0.528978
2    -0.416499  0.562039  1.059285  0.510354
3    -0.495732 -1.485903 -1.758861 -2.332225
4    -0.289161 -0.161855 -1.420443 -1.693638
...        ...       ...       ...       ...
4665  0.375828 -0.302398 -0.176329  0.184646
4666  0.015036  2.109155 -0.288402  1.337647
4667 -0.036842 -0.304596  0.029945  0.025250
4668  0.128226 -0.539370 -1.049237 -1.025542
4669  0.615812  0.114507  0.778155  1.483312

[4670 rows x 4 columns]

# Lesson 1.08

# Lesson 1

In [14]:
X_cat = data.select_dtypes(include = np.object)

In [29]:
X_cat['gender'].unique()

array(['Male', 'Female', 'U'], dtype=object)

In [16]:
X_cat['gender'].value_counts()

Female    2664
Male      1895
U          111
Name: gender, dtype: int64

In [17]:
X_cat.head(10)

   gender
0    Male
1    Male
2  Female
3    Male
4  Female
5    Male
6  Female
7    Male
8  Female
9  Female

In [18]:
pd.get_dummies(X_cat, drop_first=True)

      gender_Male  gender_U
0               1         0
1               1         0
2               0         0
3               1         0
4               0         0
...           ...       ...
4665            1         0
4666            1         0
4667            0         0
4668            1         0
4669            1         0

[4670 rows x 2 columns]

In [19]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='error', drop='first').fit(X_cat)
# encoder.categories_
encoded = encoder.transform(X_cat).toarray()
print(encoded)
type(encoded)
encoded.shape

[[1. 0.]
 [1. 0.]
 [0. 0.]
 ...
 [0. 0.]
 [1. 0.]
 [1. 0.]]

(4670, 2)

In [20]:
from sklearn import preprocessing

In [21]:
le = preprocessing.LabelEncoder().fit(X_cat).transform(X_cat) # ordered wrt value counts

In [22]:
le

array([1, 1, 0, ..., 0, 1, 1])

# Lesson 2

In [23]:
type(x_normalized)

numpy.ndarray

In [24]:
# pd.DataFrame(x_normalized)

In [25]:
# type(encoded)
# # pd.DataFrame(encoded)
# pd.concat([pd.DataFrame(x_normalized) , pd.DataFrame(encoded)], axis = 1)

In [26]:
X = np.concatenate((x_normalized, encoded), axis=1)
# Y = data['TARGET_D']
pd.DataFrame(X).head()
X.shape

(4670, 6)

In [27]:


1000 observations 

70% training observations == 700  - Randomized 

30 % test observations == 300 - Randomized

Random seed

SyntaxError: invalid syntax (<ipython-input-27-70b4b37401b9>, line 1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4, random_state=100)

In [ ]:
from sklearn import linear_model

In [ ]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
predictions  = lm.predict(X_test)
r2_score(y_test, predictions)

In [ ]:
X_train.shape

In [ ]:
pd.DataFrame(y_train).shape

In [ ]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
model

In [ ]:
pd.DataFrame(X_test)

In [ ]:
len(lm.predict(X_test))

In [ ]:
y_test --- true value 
predictions == y_hat

In [ ]:
X_test.shape

In [ ]:
y_test.shape

In [ ]:
predictions

In [ ]:

# to make predictions on the new data, we have to process the data (X features) in the same way.

# Lesson 3

In [ ]:
mse = mean_squared_error(y_test, predictions)
print(mse)

In [ ]:
rmse = math.sqrt(mse)
print(rmse)

In [ ]:
r2 = r2_score(y_test, predictions)
r2

In [ ]:
n = len(X_test) 
p = X_test.shape[1]

In [ ]:
adj_r2 = 1-((1-r2)*(n-1)/(n-p-1))
adj_r2